body {
  background-color: red;
  background-image: url('6777486e7ac73f627f41dceddc0eedd1.png');
  background: no-repeat center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #FFF; }

